*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppies",sans-serif;
}
body{
    background-color:rgb(44, 13, 119);
    color: white;
}
.container{
  margin: 12%;
  width: 90%;
  max-width: 700px;
}
.container span{
    color: green;
    text-decoration: underline;
    font-weight: 500;
}
.display{
    display: flex;
    width: 100%;
    margin-top: 26px;
    margin-bottom: 20px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
.display img{
   height: 26px;
   cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 22px;

}
button{
    background-color: green;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    outline: 0;
}
button img{
    height: 22px;
    margin-right: 12px;
}